AddDefaultCharset iso-8859-1
AddCharset iso-8859-1 .txt .html .htm

Redirect permanent /diffyqs/htmlver/diffyqs.html https://www.jirka.org/diffyqs/html/diffyqs.html
Redirect permanent /diffyqs/htmlver/diffyqsch1.html https://www.jirka.org/diffyqs/html/fo_chapter.html
Redirect permanent /diffyqs/htmlver/diffyqsch2.html https://www.jirka.org/diffyqs/html/ho_chapter.html
Redirect permanent /diffyqs/htmlver/diffyqsch3.html https://www.jirka.org/diffyqs/html/sys_chapter.html
Redirect permanent /diffyqs/htmlver/diffyqsch4.html https://www.jirka.org/diffyqs/html/FS_chapter.html
Redirect permanent /diffyqs/htmlver/diffyqsch5.html https://www.jirka.org/diffyqs/html/SL_chapter.html
Redirect permanent /diffyqs/htmlver/diffyqsch6.html https://www.jirka.org/diffyqs/html/LT_chapter.html
Redirect permanent /diffyqs/htmlver/diffyqsch7.html https://www.jirka.org/diffyqs/html/ps_chapter.html
Redirect permanent /diffyqs/htmlver/diffyqsch8.html https://www.jirka.org/diffyqs/html/nlin_chapter.html

Redirect permanent /diffyqs/htmlver/diffyqsli1.html https://www.jirka.org/diffyqs/html/diffyqs.html
Redirect permanent /diffyqs/htmlver/diffyqsli2.html https://www.jirka.org/diffyqs/html/intro_chapter.html
Redirect permanent /diffyqs/htmlver/diffyqsli3.html https://www.jirka.org/diffyqs/html/furtherreading_chapter.html
Redirect permanent /diffyqs/htmlver/diffyqsli4.html https://www.jirka.org/diffyqs/html/diffyqs.html
Redirect permanent /diffyqs/htmlver/diffyqsli5.html https://www.jirka.org/diffyqs/html/index-1.html

Redirect permanent /diffyqs/htmlver/diffyqsse1.html https://www.jirka.org/diffyqs/html/notes_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse2.html https://www.jirka.org/diffyqs/html/introde_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse3.html https://www.jirka.org/diffyqs/html/classification_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse4.html https://www.jirka.org/diffyqs/html/integralsols_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse5.html https://www.jirka.org/diffyqs/html/slopefields_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse6.html https://www.jirka.org/diffyqs/html/separable_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse7.html https://www.jirka.org/diffyqs/html/intfactor_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse8.html https://www.jirka.org/diffyqs/html/substitution_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse9.html https://www.jirka.org/diffyqs/html/auteq_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse10.html https://www.jirka.org/diffyqs/html/numer_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse11.html https://www.jirka.org/diffyqs/html/exact_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse12.html https://www.jirka.org/diffyqs/html/solinear_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse13.html https://www.jirka.org/diffyqs/html/sec_ccsol.html
Redirect permanent /diffyqs/htmlver/diffyqsse14.html https://www.jirka.org/diffyqs/html/sec_hol.html
Redirect permanent /diffyqs/htmlver/diffyqsse15.html https://www.jirka.org/diffyqs/html/sec_mv.html
Redirect permanent /diffyqs/htmlver/diffyqsse16.html https://www.jirka.org/diffyqs/html/sec_nonhom.html
Redirect permanent /diffyqs/htmlver/diffyqsse17.html https://www.jirka.org/diffyqs/html/forcedo_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse18.html https://www.jirka.org/diffyqs/html/sec_introtosys.html
Redirect permanent /diffyqs/htmlver/diffyqsse19.html https://www.jirka.org/diffyqs/html/sec_matrix.html
Redirect permanent /diffyqs/htmlver/diffyqsse20.html https://www.jirka.org/diffyqs/html/linsystems_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse21.html https://www.jirka.org/diffyqs/html/eigenmethod_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse22.html https://www.jirka.org/diffyqs/html/sec_twodimaut.html
Redirect permanent /diffyqs/htmlver/diffyqsse23.html https://www.jirka.org/diffyqs/html/sol_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse24.html https://www.jirka.org/diffyqs/html/sec_multeigen.html
Redirect permanent /diffyqs/htmlver/diffyqsse25.html https://www.jirka.org/diffyqs/html/sec_matexp.html
Redirect permanent /diffyqs/htmlver/diffyqsse26.html https://www.jirka.org/diffyqs/html/nonhomogsys_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse27.html https://www.jirka.org/diffyqs/html/bvp_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse28.html https://www.jirka.org/diffyqs/html/ts_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse29.html https://www.jirka.org/diffyqs/html/moreonfourier_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse30.html https://www.jirka.org/diffyqs/html/sec_scs.html
Redirect permanent /diffyqs/htmlver/diffyqsse31.html https://www.jirka.org/diffyqs/html/appoffourier_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse32.html https://www.jirka.org/diffyqs/html/heateq_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse33.html https://www.jirka.org/diffyqs/html/we_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse34.html https://www.jirka.org/diffyqs/html/dalemb_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse35.html https://www.jirka.org/diffyqs/html/dirich_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse36.html https://www.jirka.org/diffyqs/html/dirichdisc_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse37.html https://www.jirka.org/diffyqs/html/slproblems_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse38.html https://www.jirka.org/diffyqs/html/sec_appeig.html
Redirect permanent /diffyqs/htmlver/diffyqsse39.html https://www.jirka.org/diffyqs/html/sps_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse40.html https://www.jirka.org/diffyqs/html/laplace_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse41.html https://www.jirka.org/diffyqs/html/transformsofders_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse42.html https://www.jirka.org/diffyqs/html/convolution_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse43.html https://www.jirka.org/diffyqs/html/diracdelta_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse44.html https://www.jirka.org/diffyqs/html/powerseries_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse45.html https://www.jirka.org/diffyqs/html/seriessols_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse46.html https://www.jirka.org/diffyqs/html/frobenius_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse47.html https://www.jirka.org/diffyqs/html/linearization_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse48.html https://www.jirka.org/diffyqs/html/nlinstability_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse49.html https://www.jirka.org/diffyqs/html/nlinapps_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse50.html https://www.jirka.org/diffyqs/html/limitcycles_section.html
Redirect permanent /diffyqs/htmlver/diffyqsse51.html https://www.jirka.org/diffyqs/html/sec_chaos.html
