body { 
	/*font-family: Palatino,; */
	font-family: Tex Gyre Pagella, Palatino, URW Palladio L, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
	font-size: 130%;
	line-height: 1.05;
}
